{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static './css/catalog.css' %}" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="{% static './css/index.css' %}" />
<style>
	.heart-icon:hover {
		content: url('{% static '/assets/icons/activeHeart.svg' %}');
	}
</style>
{% endblock %}
{% block content %}



		<section class="navbar">
			<div class="container">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">НОВИНКИ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'categories' %}" class="nav-link">КАТЕГОРИИ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">КАТАЛОГ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'about' %}" class="nav-link">О МАГАЗИНЕ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">АКЦИИ</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="catalog">
			<div class="container">
				<div class="filtersidebar">
					<div class="filtersidebar__row">
						<button type="button" class="filtersidebar__btn" id="openFilterBtn">
							<img
								src="{% static './assets/icons/Catalog/Filtericon.svg' %}"
								alt="Filter Icon"
							/>
							<h3 class="filtersidebar__btn-text">Фильтры</h3>
						</button>
						<div class="filtersidebar__text">
						<p class="filtersidebar__sort" id="sortToggle">
							Сортировать по:
							<span id="currentSort" class="filtersidebar__sort__text">
								{% if request.GET.sort %}
									{{ request.GET.sort }}
								{% else %}
									Популярности
								{% endif %}
							</span>
							<img src="{% static './assets/icons/filter-arrow.svg' %}" alt="arrow" />
							<img src="{% static './assets/icons/filter-arrow.svg' %}" class="filter-arrow" alt="arrow" />
						</p>

						<ul class="filtersidebar__dropdown" id="sortDropdown">
							{% for value, label in sort_options %}
								<li class="filtersidebar__dropdown-item">
									<a href="?{% for key, val in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ val }}&{% endif %}{% endfor %}sort={{ value }}">
										{{ label }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					</div>

					<form method="get" id="filterForm">
						<div class="filtersidebar__panel" id="filterPanel">
							<button type="button" title="toggleFilter" class="filtersidebar__close" id="closeFilterBtn">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" class="filtersidebar__close-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
								</svg>
							</button>

							<h2 class="filtersidebar__title">ФИЛЬТРЫ</h2>

							<!-- Чекбоксы -->
							<div class="filtersidebar__checkboxes">
								<label class="filtersidebar__label">
									<span>Со скидкой</span>
									<input type="checkbox" name="discount" value="1" class="filtersidebar__checkbox"
										{% if request.GET.discount %}checked{% endif %}>
								</label>
								<label class="filtersidebar__label">
									<span>В наличии</span>
									<input type="checkbox" name="available" value="1" class="filtersidebar__checkbox"
										{% if request.GET.available %}checked{% endif %}>
								</label>
							</div>

							<!-- Слайдер цены -->
							<div class="filtersidebar__slider">
								<div class="filtersidebar__slider-labels">
									<span id="minPriceLabel">от {{ request.GET.min_price|default:"0" }} с</span>
									<span id="maxPriceLabel">до {{ request.GET.max_price|default:"10000" }} с</span>
								</div>
								<div class="filtersidebar__slider-container">
									<input
										title="minPrice"
										type="range"
										min="50"
										max="10000"
										name="min_price"
										value="{{ request.GET.min_price|default:"50" }}"
										class="filtersidebar__range"
										id="minPrice"
										oninput="document.getElementById('minPriceLabel').innerText = 'от ' + this.value + ' с';"
									/>
									<input
										title="maxPrice"
										type="range"
										min="50"
										max="10000"
										name="max_price"
										value="{{ request.GET.max_price|default:"10000" }}"
										class="filtersidebar__range"
										id="maxPrice"
										oninput="document.getElementById('maxPriceLabel').innerText = 'до ' + this.value + ' с';"
									/>
								</div>
							</div>


							<!-- Категории -->
							<ul class="filtersidebar__categories">
								{% for cat in filter.form.fields.category.queryset %}
								<li class="filtersidebar__category">
									<label>
										<input type="radio" name="category" value="{{ cat.id }}"
											{% if request.GET.category == cat.id|stringformat:"s" %}checked{% endif %}>
										<span>{{ cat.name }}</span>
									</label>
								</li>
								{% endfor %}
							</ul>

							<!-- Кнопка применения -->
							<div style="padding: 1rem 0;">
								<button type="submit" class="filtersidebar__btn-submit">Применить</button>
							</div>
						</div>
					</form>

					<div class="filtersidebar__overlay" id="filterOverlay"></div>

				</div>
<!--				&lt;!&ndash; Лоадер (скрыт по умолчанию) &ndash;&gt;-->
<!--				<div class="loader-container">-->
<!--					<span class="loader"></span>-->
<!--				</div>-->

				<!-- Контент каталога -->
				<div class="catalog-content">
					<div class="catalog-grid">
						<!-- Карточка 1 (маленькая) -->

						{% if product1 %}
						<div class="product-card">
								<div class="product-card__img">
<!--									<a href="{% url 'product_detail' product1.pk %}">-->
									<img
										src="{% if product1.get_main_image %}{{ product1.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
										alt="Product"
										class="product-image placeholder"
									/>
<!--									</a>-->
								</div>
<!--									<a href="{% url 'del_fav' product1.pk %}">-->
<!--									<div class="heart-icon">-->
										{% if product1.id in favorites %}
										<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
										{% else %}
										<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
										{% endif %}
<!--									</div>-->
<!--									</a>-->
<!--							<a href="{% url 'product_detail' product1.pk %}">-->
								<div class="product-card__info">
									<h2 class="product-title">{{ product1.name }}</h2>
									<h3 class="product-subtitle">{{ product1.barcodes }}</h3>
									<div class="product-card__footer">
										<p class="product-price">{{ product1.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
									</div>
								</div>
<!--							</a>-->
						</div>
						{% endif %}
						<!-- Карточка 2 (маленькая) -->
						{% if product2 %}
						<div class="product-card">

							<div class="product-card__img">
<!--								<a href="{% url 'product_detail' product2.pk %}">-->
								<img
									src="{% if product2.get_main_image %}{{ product2.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
<!--								</a>-->
							</div>
<!--								<a href="{% url 'del_fav' product2.pk %}">-->
<!--								<div class="heart-icon">-->
									{% if product2.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
<!--									{% endif %}-->
<!--								</div>-->
<!--								</a>-->
<!--							</div>-->
							<a href="{% url 'product_detail' product2.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product2.name }}</h2>
								<h3 class="product-subtitle">{{ product2.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product2.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>

							</div>
								</a>
						</div>
						{% endif %}
						<!-- Карточка 3 (маленькая) -->
						{% if product3 %}
						<div class="product-card">

							<img
								src="{% static '/assets/icons/2.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product3.pk %}">
								<img
									src="{% if product3.get_main_image %}{{ product3.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product3.pk %}">
<!--								<div class="heart-icon">-->
									{% if product3.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
<!--								</div>-->
								</a>
<!--							</div>-->
							<a href="{% url 'product_detail' product3.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product3.name }}</h2>
								<h3 class="product-subtitle">{{ product3.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product3.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточка 4 (маленькая) -->
						{% if product4 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product4.pk %}">
								<img
									src="{% if product4.get_main_image %}{{ product4.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product4.pk %}">
<!--								<div class="heart-icon">-->
									{% if product4.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
<!--								</div>-->
								</a>
<!--							</div>-->
								<a href="{% url 'product_detail' product4.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product4.name }}</h2>
								<h3 class="product-subtitle">{{ product4.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product4.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточка 5 (маленькая) -->
						{% if product5 %}
						<div class="product-card">

							<img
								src="{% static '/assets/icons/4.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>

							<div class="product-card__img">
								<a href="{% url 'product_detail' product5.pk %}">
								<img
									src="{% if product5.get_main_image %}{{ product5.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product5.pk %}">
<!--								<div class="heart-icon">-->
									{% if product5.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
<!--							</div>-->
							<a href="{% url 'product_detail' product5.pk %}">
							<div class="product-card__info">

								<h2 class="product-title">{{ product5.name }}</h2>
								<h3 class="product-subtitle">{{ product5.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product5.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточка 6 (маленькая) -->
						{% if product6 %}
						<div class="product-card">

							<div class="product-card__img">
								<a href="{% url 'product_detail' product6.pk %}">
								<img
									src="{% if product6.get_main_image %}{{ product6.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product6.pk %}">
<!--								<div class="heart-icon">-->
									{% if product6.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
<!--								</div>-->
								</a>
<!--							</div>-->
							<a href="{% url 'product_detail' product6.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product6.name }}</h2>
								<h3 class="product-subtitle">{{ product6.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product6.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточка 7 (большая) -->
						{% if product7 %}
						<div class="product-card large">

							<img
								src="{% static '/assets/icons/6.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product7.pk %}">
								<img
									src="{% if product7.get_main_image %}{{ product7.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product7.pk %}">
<!--								<div class="heart-icon">-->
									{% if product7.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
<!--								</div>-->
								</a>
<!--							</div>-->
							<a href="{% url 'product_detail' product7.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product7.name }}</h2>
								<h3 class="product-subtitle">{{ product7.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product7.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточка 8 (большая) -->
						{% if product8 %}
						<div class="product-card large">

							<img
								src="{% static '/assets/icons/7.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product8.pk %}">
								<img
									src="{% if product8.get_main_image %}{{ product8.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product8.pk %}">
<!--								<div class="heart-icon">-->
									{% if product8.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
<!--								</div>-->
								</a>

							<a href="{% url 'product_detail' product8.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product8.name }}</h2>
								<h3 class="product-subtitle">{{ product8.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product8.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>

							</a>
						</div>
						{% endif %}
						<!-- Карточки 9-16 (повторение шаблона 1-8) -->
						{% if product9 %}
						<div class="product-card">
								<div class="product-card__img">
									<img
										src="{% if product9.get_main_image %}{{ product9.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
										alt="Product"
										class="product-image placeholder"
									/>
								</div>
								{% if product9.id in favorites %}
								<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% else %}
								<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% endif %}
								<div class="product-card__info">
									<h2 class="product-title">{{ product9.name }}</h2>
									<h3 class="product-subtitle">{{ product9.barcodes }}</h3>
									<div class="product-card__footer">
										<p class="product-price">{{ product9.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
									</div>
								</div>
						</div>
						{% endif %}
						{% if product10 %}
						<div class="product-card">
							<div class="product-card__img">
								<img
									src="{% if product10.get_main_image %}{{ product10.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
							</div>
							{% if product10.id in favorites %}
							<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% else %}
							<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% endif %}
							<a href="{% url 'product_detail' product10.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product10.name }}</h2>
								<h3 class="product-subtitle">{{ product10.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product10.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
								</a>
						</div>
						{% endif %}
						{% if product11 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/2.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product11.pk %}">
								<img
									src="{% if product11.get_main_image %}{{ product11.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product11.pk %}">
									{% if product11.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product11.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product11.name }}</h2>
								<h3 class="product-subtitle">{{ product11.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product11.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product12 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product12.pk %}">
								<img
									src="{% if product12.get_main_image %}{{ product12.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product12.pk %}">
									{% if product12.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
								<a href="{% url 'product_detail' product12.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product12.name }}</h2>
								<h3 class="product-subtitle">{{ product12.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product12.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product13 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/4.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product13.pk %}">
								<img
									src="{% if product13.get_main_image %}{{ product13.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product13.pk %}">
									{% if product13.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product13.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product13.name }}</h2>
								<h3 class="product-subtitle">{{ product13.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product13.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product14 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product14.pk %}">
								<img
									src="{% if product14.get_main_image %}{{ product14.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product14.pk %}">
									{% if product14.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product14.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product14.name }}</h2>
								<h3 class="product-subtitle">{{ product14.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product14.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product15 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/6.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product15.pk %}">
								<img
									src="{% if product15.get_main_image %}{{ product15.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product15.pk %}">
									{% if product15.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product15.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product15.name }}</h2>
								<h3 class="product-subtitle">{{ product15.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product15.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product16 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/7.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product16.pk %}">
								<img
									src="{% if product16.get_main_image %}{{ product16.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product16.pk %}">
									{% if product16.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product16.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product16.name }}</h2>
								<h3 class="product-subtitle">{{ product16.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product16.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточки 17-24 (повторение шаблона 1-8) -->
						{% if product17 %}
						<div class="product-card">
								<div class="product-card__img">
									<img
										src="{% if product17.get_main_image %}{{ product17.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
										alt="Product"
										class="product-image placeholder"
									/>
								</div>
								{% if product17.id in favorites %}
								<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% else %}
								<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% endif %}
								<div class="product-card__info">
									<h2 class="product-title">{{ product17.name }}</h2>
									<h3 class="product-subtitle">{{ product17.barcodes }}</h3>
									<div class="product-card__footer">
										<p class="product-price">{{ product17.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
									</div>
								</div>
						</div>
						{% endif %}
						{% if product18 %}
						<div class="product-card">
							<div class="product-card__img">
								<img
									src="{% if product18.get_main_image %}{{ product18.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
							</div>
							{% if product18.id in favorites %}
							<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% else %}
							<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% endif %}
							<a href="{% url 'product_detail' product18.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product18.name }}</h2>
								<h3 class="product-subtitle">{{ product18.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product18.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
								</a>
						</div>
						{% endif %}
						{% if product19 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/2.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product19.pk %}">
								<img
									src="{% if product19.get_main_image %}{{ product19.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product19.pk %}">
									{% if product19.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product19.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product19.name }}</h2>
								<h3 class="product-subtitle">{{ product19.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product19.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product20 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product20.pk %}">
								<img
									src="{% if product20.get_main_image %}{{ product20.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product20.pk %}">
									{% if product20.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
								<a href="{% url 'product_detail' product20.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product20.name }}</h2>
								<h3 class="product-subtitle">{{ product20.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product20.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product21 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/4.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product21.pk %}">
								<img
									src="{% if product21.get_main_image %}{{ product21.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product21.pk %}">
									{% if product21.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product21.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product21.name }}</h2>
								<h3 class="product-subtitle">{{ product21.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product21.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product22 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product22.pk %}">
								<img
									src="{% if product22.get_main_image %}{{ product22.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product22.pk %}">
									{% if product22.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product22.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product22.name }}</h2>
								<h3 class="product-subtitle">{{ product22.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product22.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product23 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/6.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product23.pk %}">
								<img
									src="{% if product23.get_main_image %}{{ product23.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product23.pk %}">
									{% if product23.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product23.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product23.name }}</h2>
								<h3 class="product-subtitle">{{ product23.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product23.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product24 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/7.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product24.pk %}">
								<img
									src="{% if product24.get_main_image %}{{ product24.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product24.pk %}">
									{% if product24.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product24.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product24.name }}</h2>
								<h3 class="product-subtitle">{{ product24.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product24.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						<!-- Карточки 25-32 (повторение шаблона 1-8) -->
						{% if product25 %}
						<div class="product-card">
								<div class="product-card__img">
									<img
										src="{% if product25.get_main_image %}{{ product25.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
										alt="Product"
										class="product-image placeholder"
									/>
								</div>
								{% if product25.id in favorites %}
								<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% else %}
								<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% endif %}
								<div class="product-card__info">
									<h2 class="product-title">{{ product25.name }}</h2>
									<h3 class="product-subtitle">{{ product25.barcodes }}</h3>
									<div class="product-card__footer">
										<p class="product-price">{{ product25.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
									</div>
								</div>
						</div>
						{% endif %}
						{% if product26 %}
						<div class="product-card">
							<div class="product-card__img">
								<img
									src="{% if product26.get_main_image %}{{ product26.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
							</div>
							{% if product26.id in favorites %}
							<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% else %}
							<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
							{% endif %}
							<a href="{% url 'product_detail' product26.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product26.name }}</h2>
								<h3 class="product-subtitle">{{ product26.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product26.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
								</a>
						</div>
						{% endif %}
						{% if product27 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/2.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product27.pk %}">
								<img
									src="{% if product27.get_main_image %}{{ product27.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product27.pk %}">
									{% if product27.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product27.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product27.name }}</h2>
								<h3 class="product-subtitle">{{ product27.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product27.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product28 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product28.pk %}">
								<img
									src="{% if product28.get_main_image %}{{ product28.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product28.pk %}">
									{% if product28.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
								<a href="{% url 'product_detail' product28.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product28.name }}</h2>
								<h3 class="product-subtitle">{{ product28.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product28.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product29 %}
						<div class="product-card">
							<img
								src="{% static '/assets/icons/4.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product29.pk %}">
								<img
									src="{% if product29.get_main_image %}{{ product29.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product29.pk %}">
									{% if product29.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product29.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product29.name }}</h2>
								<h3 class="product-subtitle">{{ product29.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product29.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product30 %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product30.pk %}">
								<img
									src="{% if product30.get_main_image %}{{ product30.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product30.pk %}">
									{% if product30.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product30.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product30.name }}</h2>
								<h3 class="product-subtitle">{{ product30.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product30.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product31 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/6.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product31.pk %}">
								<img
									src="{% if product31.get_main_image %}{{ product31.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product31.pk %}">
									{% if product31.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product31.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product31.name }}</h2>
								<h3 class="product-subtitle">{{ product31.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product31.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
						{% if product32 %}
						<div class="product-card large">
							<img
								src="{% static '/assets/icons/7.svg' %}"
								alt="Product Icon"
								class="product-icon"
							/>
							<div class="product-card__img">
								<a href="{% url 'product_detail' product32.pk %}">
								<img
									src="{% if product32.get_main_image %}{{ product32.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
								<a href="{% url 'del_fav' product32.pk %}">
									{% if product32.id in favorites %}
									<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% else %}
									<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
									{% endif %}
								</a>
							<a href="{% url 'product_detail' product32.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product32.name }}</h2>
								<h3 class="product-subtitle">{{ product32.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product32.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% endif %}
					</div>

					<!-- Пагинация -->
					<div class="pagination">
					  {# Левая стрелка — назад #}
					  {% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}">
						  <button class="pagination-btn arrow"><</button>
						</a>
					  {% else %}
						<button class="pagination-btn arrow" disabled><</button>
					  {% endif %}

					  {# Номера страниц (сокращённый вывод) #}
					  {% for num in page_obj.paginator.page_range %}
						{% if num == page_obj.number %}
						  <button class="pagination-btn active">{{ num }}</button>
						{% elif num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %}
						  <a href="?page={{ num }}">
							<button class="pagination-btn">{{ num }}</button>
						  </a>
						{% elif num == 1 or num == page_obj.paginator.num_pages %}
						  <a href="?page={{ num }}">
							<button class="pagination-btn">{{ num }}</button>
						  </a>
						{% elif num == page_obj.number|add:'-2' or num == page_obj.number|add:'2' %}
						  <button class="pagination-btn" disabled>...</button>
						{% endif %}
					  {% endfor %}

					  {# Правая стрелка — вперёд #}
					  {% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">
						  <button class="pagination-btn arrow">></button>
						</a>
					  {% else %}
						<button class="pagination-btn arrow" disabled>></button>
					  {% endif %}
					</div>

				</div>
			</div>
		</section>


{% endblock %}
{% block js %}
<script src="{% static './js/filter.js' %}"></script>
<!--<script src="{% static './js/layout/layout-header.js' %}"></script>-->
<!--<script src="{% static './js/layout/layout-footer.js' %}"></script>-->
{% endblock %}


