{% extends 'base.html' %}
{% load static %}
{% block links %}
<link rel="stylesheet" href="{% static './css/catalog.css' %}" xmlns="http://www.w3.org/1999/html"/>
<link rel="stylesheet" href="{% static './css/index.css' %}" />
<style>
	.heart-icon:hover {
		content: url("{% static '/assets/icons/activeHeart.svg' %}");
	}
</style>
{% endblock %}
{% block content %}



		<section class="navbar">
			<div class="container">
				<ul class="nav-list">
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">НОВИНКИ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'categories' %}" class="nav-link">КАТЕГОРИИ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">КАТАЛОГ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'about' %}" class="nav-link">О МАГАЗИНЕ</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'catalog' %}" class="nav-link">АКЦИИ</a>
					</li>
				</ul>
			</div>
		</section>
		<section class="catalog">
			<div class="container">
				<div class="filtersidebar">
					<div class="filtersidebar__row">
						<button type="button" class="filtersidebar__btn" id="openFilterBtn">
							<img
								src="{% static './assets/icons/Catalog/Filtericon.svg' %}"
								alt="Filter Icon"
							/>
							<h3 class="filtersidebar__btn-text">Фильтры</h3>
						</button>
						<div class="filtersidebar__text">
						<p class="filtersidebar__sort" id="sortToggle">
							Сортировать по:
							<span id="currentSort" class="filtersidebar__sort__text">
								{% if request.GET.sort %}
									{{ request.GET.sort }}
								{% else %}
									Популярности
								{% endif %}
							</span>
							<img src="{% static './assets/icons/filter-arrow.svg' %}" alt="arrow" />
							<img src="{% static './assets/icons/filter-arrow.svg' %}" class="filter-arrow" alt="arrow" />
						</p>

						<ul class="filtersidebar__dropdown" id="sortDropdown">
							{% for value, label in sort_options %}
								<li class="filtersidebar__dropdown-item">
									<a href="?{% for key, val in request.GET.items %}{% if key != 'sort' %}{{ key }}={{ val }}&{% endif %}{% endfor %}sort={{ value }}">
										{{ label }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					</div>

					<form method="get" id="filterForm">
						<div class="filtersidebar__panel" id="filterPanel">
							<button type="button" title="toggleFilter" class="filtersidebar__close" id="closeFilterBtn">
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" class="filtersidebar__close-icon">
									<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
								</svg>
							</button>

							<h2 class="filtersidebar__title">ФИЛЬТРЫ</h2>

							<!-- Чекбоксы -->
							<div class="filtersidebar__checkboxes">
								<label class="filtersidebar__label">
									<span>Со скидкой</span>
									<input type="checkbox" name="discount" value="1" class="filtersidebar__checkbox"
										{% if request.GET.discount %}checked{% endif %}>
								</label>
								<label class="filtersidebar__label">
									<span>В наличии</span>
									<input type="checkbox" name="available" value="1" class="filtersidebar__checkbox"
										{% if request.GET.available %}checked{% endif %}>
								</label>
							</div>

							<!-- Слайдер цены -->
							<div class="filtersidebar__slider">
								<div class="filtersidebar__slider-labels">
									<span id="minPriceLabel">от {{ request.GET.min_price|default:"0" }} с</span>
									<span id="maxPriceLabel">до {{ request.GET.max_price|default:"10000" }} с</span>
								</div>
								<div class="filtersidebar__slider-container">
									<input
										title="minPrice"
										type="range"
										min="50"
										max="10000"
										name="min_price"
										value="{{ request.GET.min_price|default:"50" }}"
										class="filtersidebar__range"
										id="minPrice"
										oninput="document.getElementById('minPriceLabel').innerText = 'от ' + this.value + ' с';"
									/>
									<input
										title="maxPrice"
										type="range"
										min="50"
										max="10000"
										name="max_price"
										value="{{ request.GET.max_price|default:"10000" }}"
										class="filtersidebar__range"
										id="maxPrice"
										oninput="document.getElementById('maxPriceLabel').innerText = 'до ' + this.value + ' с';"
									/>
								</div>
							</div>


							<!-- Категории -->
							<ul class="filtersidebar__categories">
								{% for cat in filter.form.fields.category.queryset %}
								<li class="filtersidebar__category">
									<label>
										<input type="radio" name="category" value="{{ cat.id }}"
											{% if request.GET.category == cat.id|stringformat:"s" %}checked{% endif %}>
										<span>{{ cat.name }}</span>
									</label>
								</li>
								{% endfor %}
							</ul>

							<!-- Кнопка применения -->
							<div style="padding: 1rem 0;">
								<button type="submit" class="filtersidebar__btn-submit">Применить</button>
							</div>
						</div>
					</form>

					<div class="filtersidebar__overlay" id="filterOverlay"></div>

				</div>
<!--				&lt;!&ndash; Лоадер (скрыт по умолчанию) &ndash;&gt;-->
<!--				<div class="loader-container">-->
<!--					<span class="loader"></span>-->
<!--				</div>-->

				<!-- Контент каталога -->
				<div class="catalog-content">
					<div class="catalog-grid">
						{% for product in products %}
						<div class="product-card">
							<div class="product-card__img">
								<a href="{% url 'product_detail' product.pk %}">
								<img
									src="{% if product.get_main_image %}{{ product.get_main_image }}{% else %}https://home.ques.kg/static/src/template_01.png{% endif %}"
									alt="Product"
									class="product-image placeholder"
								/>
								</a>
							</div>
							<a href="{% url 'del_fav' product.pk %}">
								{% if product.id in favorites %}
								<img src="{% static '/assets/icons/activeHeart.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% else %}
								<img src="{% static './assets/icons/heartIcon.svg' %}" alt="heart" class="product-icon-favorite"/>
								{% endif %}
							</a>
							<a href="{% url 'product_detail' product.pk %}">
							<div class="product-card__info">
								<h2 class="product-title">{{ product.name }}</h2>
								<h3 class="product-subtitle">{{ product.barcodes }}</h3>
								<div class="product-card__footer">
									<p class="product-price">{{ product.sale_price|stringformat:"s"|slice:":-5" }} cом</p>
								</div>
							</div>
							</a>
						</div>
						{% empty %}
						<p>Нет товаров.</p>
						{% endfor %}
					</div>

					<!-- Пагинация -->
					<div class="pagination">
					  {# Левая стрелка — назад #}
					  {% if page_obj.has_previous %}
						<a href="?page={{ page_obj.previous_page_number }}">
						  <button class="pagination-btn arrow"><</button>
						</a>
					  {% else %}
						<button class="pagination-btn arrow" disabled><</button>
					  {% endif %}

					  {# Номера страниц (сокращённый вывод) #}
					  {% for num in page_obj.paginator.page_range %}
						{% if num == page_obj.number %}
						  <button class="pagination-btn active">{{ num }}</button>
						{% elif num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %}
						  <a href="?page={{ num }}">
							<button class="pagination-btn">{{ num }}</button>
						  </a>
						{% elif num == 1 or num == page_obj.paginator.num_pages %}
						  <a href="?page={{ num }}">
							<button class="pagination-btn">{{ num }}</button>
						  </a>
						{% elif num == page_obj.number|add:'-2' or num == page_obj.number|add:'2' %}
						  <button class="pagination-btn" disabled>...</button>
						{% endif %}
					  {% endfor %}

					  {# Правая стрелка — вперёд #}
					  {% if page_obj.has_next %}
						<a href="?page={{ page_obj.next_page_number }}">
						  <button class="pagination-btn arrow">></button>
						</a>
					  {% else %}
						<button class="pagination-btn arrow" disabled>></button>
					  {% endif %}
					</div>

				</div>
			</div>
		</section>


{% endblock %}
{% block js %}
<script src="{% static './js/filter.js' %}"></script>
<!--<script src="{% static './js/layout/layout-header.js' %}"></script>-->
<!--<script src="{% static './js/layout/layout-footer.js' %}"></script>-->
{% endblock %}


