<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<link rel="stylesheet" href="./css/home.css	" />
		<link rel="stylesheet" href="./css/layout/footer_layout.css" />
		<link rel="stylesheet" href="./css/layout/header_layout.css" />
	</head>
	<body>
		<div id="header"></div>

		<div>
			<!-- Navbar -->
			<section class="navbar">
				<div class="container">
					<ul>
						<li><a href="/ques-html/a.html">НОВИНКИ</a></li>
						<li><a href="/ques-html/categories.html">КАТЕГОРИИ</a></li>
						<li><a href="/ques-html/catalog.html">КАТАЛОГ</a></li>
						<li><a href="/ques-html/about.html">О МАГАЗИНЕ</a></li>
						<li><a href="/ques-html/c.html">АКЦИИ</a></li>
					</ul>
				</div>
			</section>

			<!-- Hero Slider -->
			<section>
				<div class="hero__row">
					<div class="hero__image-container">
						<p>ВЕСЕННИЕ СКИДКИ ДО -50%</p>
						<img src="./assets/img/hero.png" alt="Слайд 1" />
						<div class="overlay"></div>
					</div>
					<button class="hero__button">
						<p>ПЕРЕЙТИ К АКЦИИ</p>
						<img src="./assets/icons/arrowSwiper.svg" alt="Arrow" />
					</button>
				</div>
			</section>

			<!-- Bestsellers -->
			<section>
				<div class="container">
					<h2 class="section-title">БЕСТСЕЛЛЕРЫ</h2>
					<div class="bestsellers-grid">
						<div class="grid-item">
							<img src="./assets/Home/images/ear-rings-image.png" alt="" />
							<button>УКРАШЕНИЯ</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/second.png" alt="" />
							<button>ИГРУШКИ</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/white-radio.png" alt="" />
							<button>ГОЛОВНЫЕ УБОРЫ</button>
						</div>
					</div>
					<div class="bestsellers-bottom">
						<div class="grid-item">
							<img src="./assets/Home/images/therd.png" alt="" />
							<button>БРЕЛКИ</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/fourth.png" alt="" />
							<button>ПРОЧЕЕ</button>
						</div>
					</div>
				</div>
			</section>

			<!-- New Items -->
			<section class="new-items" >
				<div class="container">
					<h2 class="section-title">Новинки</h2>
					<div class="product-grid">
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Ночник LEGO</h2>
								<h3>ночник LEGO</h3>
								<div class="product-footer">
									<p>1200 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Винтажные кепки из 90х</h2>
								<h3>винтажные кепки из 90х</h3>
								<div class="product-footer">
									<p>700-800 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Подвеска с розовыми камнями</h2>
								<h3>подвеска с розовыми камнями</h3>
								<div class="product-footer">
									<p>450 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Пленочный фотоаппарат</h2>
								<h3>пленочный фотоаппарат</h3>
								<div class="product-footer">
									<p>2500 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
					</div>
					<a href="/catalog" class="view-all">Смотреть все</a>
				</div>
			</section>

			<!-- Categories -->
			<section class="categories">
				<div class="container">
					<h2 class="section-title">КАТЕГОРИИ</h2>
					<div class="categories-grid">
						<div class="grid-item">
							<img src="./assets/Home/images/fourth.png" alt="" />
							<button>DIY</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/ear-rings-image.png" alt="" />
							<button>СУМКИ</button>
						</div>
					</div>
					<div class="categories-bottom">
						<div class="grid-item">
							<img src="./assets/Home/images/white-radio.png" alt="" />
							<button>НОЧНИКИ</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/ear-rings-image.png" alt="" />
							<button>УПАКОВКА</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/therd.png" alt="" />
							<button>ПАРНОЕ</button>
						</div>
						<div class="grid-item">
							<img src="./assets/Home/images/fourth.png" alt="" />
							<button>НОГТИ</button>
						</div>
						<div class="grid-item arrow">
							<img
								src="./assets/icons/Categories/arrowIcon.svg"
								alt="Arrow Icon"
							/>
						</div>
					</div>
				</div>
			</section>

			<!-- Night Lights -->
			<section>
			</div class="container">
				<h2 class="section-title">НОЧНИКИ</h2>
				<div class="product-grid">
					<div class="product-card">
						<div class="product-card__img">
							<img src="./assets/Catalog/discount.png" alt="" />
							<img
								class="heart-icon"
								src="./assets/icons/heartIcon.svg"
								alt="Favorite"
							/>
						</div>
						<div class="product-card__info">
							<h2>Ночник LEGO</h2>
							<h3>ночник LEGO</h3>
							<div class="product-footer">
								<p>1200 сом</p>
								<img src="./assets/icons/basketIconNoActive.svg" alt="" />
							</div>
							<button class="add-to-cart">добавить в корзину</button>
						</div>
					</div>
					<div class="product-card">
						<div class="product-card__img">
							<img src="./assets/Catalog/discount.png" alt="" />
							<img
								class="heart-icon"
								src="./assets/icons/heartIcon.svg"
								alt="Favorite"
							/>
						</div>
						<div class="product-card__info">
							<h2>Винтажные кепки из 90х</h2>
							<h3>винтажные кепки из 90х</h3>
							<div class="product-footer">
								<p>700-800 сом</p>
								<img src="./assets/icons/basketIconNoActive.svg" alt="" />
							</div>
							<button class="add-to-cart">добавить в корзину</button>
						</div>
					</div>
					<div class="product-card" >
						<div class="product-card__img">
							<img src="./assets/Catalog/discount.png" alt="" />
							<img
								class="heart-icon"
								src="./assets/icons/heartIcon.svg"
								alt="Favorite"
							/>
						</div>
						<div class="product-card__info">
							<h2>Ночник LEGO</h2>
							<h3>подвеска с розовыми камнями</h3>
							<div class="product-footer">
								<p>1200 сом</p>
								<img src="./assets/icons/basketIconNoActive.svg" alt="" />
							</div>
							<button class="add-to-cart">добавить в корзину</button>
						</div>
					</div>
					<div class="product-card" >
						<div class="product-card__img">
							<img src="./assets/Catalog/discount.png" alt="" />
							<img
								class="heart-icon"
								src="./assets/icons/heartIcon.svg"
								alt="Favorite"
							/>
						</div>
						<div class="product-card__info">
							<h2>Винтажные кепки из 90х</h2>
							<h3>Винтажные кепки из 90х</h3>
							<div class="product-footer">
								<p>700-800 сом</p>
								<img src="./assets/icons/basketIconNoActive.svg" alt="" />
							</div>
							<button class="add-to-cart">добавить в корзину</button>
						</div>
					</div>
				</div>
				<a href="/catalog" class="view-all">Смотреть все</a>
				</div>
			</section>

			<!-- Marquee section -->

			<div class="marquee-parent-container">
				<div class="marquee-container">
					<div class="marquee">
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
						<span>СУПЕР СКИДКИ</span>
					</div>
				</div>
			</div>

			<!-- Products Section -->
			<section class="products-section">
				<div class="container">
					<div class="products-layout">
						<!-- Left Product List -->
						<div class="product-list">
							<div class="product-item">
								<div class="heart-icon">
									<img src="./assets/icons/heartIcon.svg" alt="" />
								</div>
								<a href="/">
									<div class="image-container">
										<img
											src="./assets/discountBlockImg/radio.png"
											alt="Сумка из эко-кожи"
										/>
									</div>
									<div class="info">
										<h3>Сумка из эко-кожи</h3>
										<p>700 сом</p>
									</div>
								</a>
							</div>
							<div class="product-item">
								<div class="heart-icon">
									<img src="./assets/icons/heartIcon.svg" alt="" />
								</div>
								<a href="/">
									<div class="image-container">
										<img
											src="./assets/discountBlockImg/necklace.png"
											alt="Сумка из эко-кожи"
										/>
									</div>
									<div class="info">
										<h3>Сумка из эко-кожи</h3>
										<p>700 сом</p>
									</div>
								</a>
							</div>
						</div>
						<!-- Center Section -->
						<div class="center-section">
							<img src="./assets/discountBlockImg/woman.png" alt="#" />
							<a href="/products">СМОТРЕТЬ ВСЕ</a>
						</div>
						<!-- Right Product List -->
						<div class="product-list">
							<div class="product-item">
								<div class="heart-icon">
									<img src="./assets/icons/heartIcon.svg" alt="" />
								</div>
								<a href="/">
									<div class="image-container">
										<img
											src="./assets/discountBlockImg/radio.png"
											alt="Сумка из эко-кожи"
										/>
									</div>
									<div class="info">
										<h3>Сумка из эко-кожи</h3>
										<p>700 сом</p>
									</div>
								</a>
							</div>
							<div class="product-item">
								<div class="heart-icon">
									<img src="./assets/icons/heartIcon.svg" alt="" />
								</div>
								<a href="/">
									<div class="image-container">
										<img
											src="./assets/discountBlockImg/necklace.png"
											alt="Сумка из эко-кожи"
										/>
									</div>
									<div class="info">
										<h3>Сумка из эко-кожи</h3>
										<p>700 сом</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section >
				<div class="container">
					<h2 class="section-title">КОНСТРУКТОР</h2>
					<div class="product-grid">
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Ночник LEGO</h2>
								<h3>ночник LEGO</h3>
								<div class="product-footer">
									<p>1200 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Винтажные кепки из 90х</h2>
								<h3>винтажные кепки из 90х</h3>
								<div class="product-footer">
									<p>700-800 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Ночник LEGO</h2>
								<h3>подвеска с розовыми камнями</h3>
								<div class="product-footer">
									<p>1200 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
						<div class="product-card">
							<div class="product-card__img">
								<img src="./assets/Catalog/discount.png" alt="" />
								<img
									class="heart-icon"
									src="./assets/icons/heartIcon.svg"
									alt="Favorite"
								/>
							</div>
							<div class="product-card__info">
								<h2>Винтажные кепки из 90х</h2>
								<h3>Винтажные кепки из 90х</h3>
								<div class="product-footer">
									<p>700-800 сом</p>
									<img src="./assets/icons/basketIconNoActive.svg" alt="" />
								</div>
								<button class="add-to-cart">добавить в корзину</button>
							</div>
						</div>
					</div>
					<a href="/catalog" class="view-all">Смотреть все</a>
				</div>
			</section>

			<!-- Features -->
			<section class="features">
				<div class="container">
					<div class="features-container">
						<div class="feature-card">
							<img src="./assets/icons/orderImg.svg" alt="" />
							<div class="feature-card-text">
								<a href="/">Отправка день в день</a>
								<p>ПРИ ЗАКАЗЕ ДО 18:00</p>
							</div>
						</div>
						<div class="feature-card">
							<img src="./assets/icons/returnImg.svg" alt="" />
							<div class="feature-card-text">
								<a href="/vozvrat">Легкий возврат/обмен</a>
								<p>В ТЕЧЕНИИ 14 ДНЕЙ</p>
							</div>
						</div>
						<div class="feature-card">
							<img src="./assets/icons/discountImg.svg" alt="" />
							<div class="feature-card-text">
								<a href="/skidki">Хорошие скидки</a>
								<p>ПОКУПАЙ ТУТ</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div id="footer"></div>
		<script src="./js/layout/layout-header.js"></script>
		<script src="./js/layout/layout-footer.js"></script>
	</body>
</html>
